.idea
cogs/__pycache__
venv
logs
__pycache__
*.pyc
token.yaml
prefixes.json
counters.json
balance.json
gamestats.json
blacklist.json
actionstats.json
discord.log
tenor_api.yaml
imgur_api.yaml
cat_api.yaml
reddit_api.yaml
Lavalink.jar
application.yml